#geocoding_form{
    margin-bottom: 20px
}

.btn-submit-add-map{
    margin-top: 10px;
    clear: both;
    text-align: right;
}
.help-block{
    color: red !important;
}
.button-change-size-map{
    text-align: right;
}
#users-table{
    background-color: white;
}
.overlay {
    font-size: 15px;
    z-index: 99999;
    color:red;
}
.overlay_agents{
    z-index: 99999;
    padding-top: 10px;
    font-size: 10px;
    display: none;
    color:white;
}

.checkboxList {
    padding:5px;
    margin:5px;
    border: 1px solid black;
    background:#fff;
    list-style-type:none;
    font-size:13px;
    color:#717171;
}
.checkboxList li {
    border-bottom:1px solid #eeeeee;
    display: table-row;
}

.checkboxList li input, label {
    display: table-cell;
    vertical-align: middle;
}

.checkboxList li label {
    margin:10px;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.table-products {
    background: #fff;
}
#divLoading
{
    display : none;
}
#divLoading.show {
    display : block;
    position : fixed;
    z-index: 11000;
    background-image :  url('http://loadinggif.com/images/image-selection/3.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 11000;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}