#geocoding_form{
    margin-bottom: 20px
}

.btn-submit-add-map{
    margin-top: 10px;
    clear: both;
    text-align: right;
}
.help-block{
    color: red !important;
}
.button-change-size-map{
    text-align: right;
}
#users-table{
    background-color: white;
}