#geocoding_form{
    margin-bottom: 20px
}

.btn-submit-add-map{
    margin-top: 10px;
    clear: both;
    text-align: right;
}
.help-block{
    color: red !important;
}
.button-change-size-map{
    text-align: right;
}
#users-table{
    background-color: white;
}
.overlay {
    font-size: 15px;
    z-index: 99999;
    color:red;
}
.overlay_agents{
    z-index: 99999;
    padding-top: 10px;
    font-size: 10px;
    display: none;
    color:white;

}